* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
#datetime-picker {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  /* height: 100px; */
  width: 500px;
  border: 2px solid #212121;
  border-radius: 10px;
  font-size: large;
  font-weight: 700;
}
.timer {
  display: flex;
  gap: 30px;
}
.box {
  height: 50px;
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.body-timer {
  min-height: 100vh;
  background-color: burlywood;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 500px;
  border: 2px solid #212121;
  border-radius: 10px;
}
.value {
  color: #635263;
  font-size: 50px;
  font-weight: 700;
}
.btn-start {
  width: 140px;
  height: 50px;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  background-color: burlywood;
  border: 2px solid#212121;
  border-radius: 8px;
  margin: 0 20px;
  font-size: large;
  font-weight: 700;
}
